{% extends "base.html" %}
{% load static %}
{% block meta %}
    <title>Peminjaman Buku</title>
    <link rel="stylesheet" href="{% static 'add_peminjaman.css' %}">
{% endblock meta %}

{% block content %}
{% include "header.html" %}
<div class="container" style="margin-top: 100px;">
    <h1 class="display-4 text-center fw-bold">Peminjaman Buku</h1>
    <h4 class="mt-2 mb-3 text-center">Klik gambar buku untuk meminjamnya </h4>
    <div class="container w-75">
        <form class="d-flex rounded border">
            <input class="form-control" type="text" placeholder="Search Books and Authors" aria-label="Search" id="search-book">
        </form>
    </div>
    <div class="row" style="z-index: 0;">
        <h4 class="card-title mb-3">Filter Buku</h4>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <form id="filterForm">
                        <h5 class="card-title mb-3">Genre</h5>
                        {% for genre in genres %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{{ genre }}" name="genre" id="{{ genre }}" checked>
                            <label class="form-check-label" for="{{ genre }}">{{ genre }}</label>
                        </div>
                        {% endfor %}
                        <h5 class="card-title mb-3 mt-3">Status</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value=0 id="Ready" name="isReady" checked>
                            <label class="form-check-label" for="Ready">Ready</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value=1 id="Not-Ready" name="isReady" checked>
                            <label class="form-check-label" for="Not Ready">Not Ready</label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="d-flex justify-content-start align-items-start mt-3">
                <a href="{% url 'peminjaman:show_peminjaman' %}" class="btn" style="color: #be6933;"><strong>back</strong></a>
            </div>
        </div>

        <!-- Daftar Buku -->
        <div class="col-md-10">
            <div id="book-card" class="row row-cols-1 row-cols-md-4 g-4"></div>
        </div>
    </div>
</div>
{% for book in books %}
<div class="modal fade" id="pinjamModal{{ book.pk }}" tabindex="-1" aria-labelledby="pinjamModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pinjamModal">{{ book.name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <!-- Gambar Buku -->
                        <img src="{{ book.image }}" alt="{{ book.name }} Cover" style="width: 100%;">
                    </div>
                    <div class="col-md-6">
                        <!-- Detail Buku -->
                        <p><strong>Penulis:</strong> {{ book.author }}</p>
                        <p><strong>Genre:</strong> {{ book.genre }}</p>
                        <p><strong>Tahun:</strong> {{ book.year }}</p>
                        <p><strong>Deskripsi:</strong> {{ book.description | truncatechars:250 }}</p>
                    </div>
                </div>
                <form id="pinjamForm" method="post" action="{% url 'peminjaman:add_book' book.pk %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <strong>{{ form.durasi_peminjaman.label_tag }}</strong>
                        {{ form.durasi_peminjaman }}
                    </div>
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" name="add_button" class="btn btn-primary align-content-lg-center">Pinjam Buku</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% for book in kosong %}
<div class="modal fade" id="kosongModal{{ book.pk }}" tabindex="-1" aria-labelledby="kosongModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="kosongModal"><strong>Maaf, buku ini sedang dipinjam!</strong><br>{{ book.name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <!-- Gambar Buku -->
                        <img src="{{ book.image }}" alt="{{ book.name }} Cover" style="width: 100%;">
                    </div>
                    <div class="col-md-6">
                        <!-- Detail Buku -->
                        <p><strong>Penulis:</strong> {{ book.author }}</p>
                        <p><strong>Genre:</strong> {{ book.genre }}</p>
                        <p><strong>Tahun:</strong> {{ book.year }}</p>
                        <p><strong>Deskripsi:</strong> {{ book.description | truncatechars:250 }}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<script>
    var konz = "";
    async function getBooks() {
        return fetch("{% url 'peminjaman:get_book_json' %}").then((res) => res.json())
    }
    async function refreshBooks() {
        const checkedBoxesGenres = document.querySelectorAll('#filterForm input[type="checkbox"][name="genre"]:checked');
        const checkedGenres = Array.from(checkedBoxesGenres).map(checkbox => checkbox.value);
        const checkedBoxesReady = document.querySelectorAll('#filterForm input[type="checkbox"][name="isReady"]:checked');
        const checkedReady = Array.from(checkedBoxesReady).map(checkbox => checkbox.value);
        const filterForm = document.getElementById('filterForm');
        document.getElementById("book-card").innerHTML = ""
        const books = await getBooks();
        let htmlString = ``
        books.forEach((book) => {
            if(checkedGenres.includes(book.fields.genre) && ((book.fields.is_dipinjam && checkedReady.includes("1")) || (!book.fields.is_dipinjam && checkedReady.includes("0"))) && (book.fields.name.toLowerCase().includes(konz.toLowerCase()) || book.fields.author.toLowerCase().includes(konz.toLowerCase()))){
                htmlString += `
                <div class="col">
                    <div class="card h-100 ${book.fields.is_dipinjam ? 'bg-danger' : 'bg-transparent'}" style="margin-left: 50px; padding: 10px;">
                        <a data-bs-toggle="modal" data-bs-target=${book.fields.is_dipinjam ? `#kosongModal${book.pk}` : `#pinjamModal${book.pk}`}>
                            <img src="${book.fields.image}" class="card-img-top" alt="${book.fields.name} Cover" style="object-fit: contain; width: 100%; height: 100%;">
                        </a>
                    </div>
                </div>`
            }
        })
        document.getElementById("book-card").innerHTML = htmlString
    }
    refreshBooks();
    const filterForm = document.getElementById('filterForm');
    filterForm.addEventListener('change', function() {
        refreshBooks();
    });

    document.getElementById('search-book').addEventListener('keypress', function(event) {
        if (event.key === 'Enter') {
            event.preventDefault();  // Prevent form submission
            konz = this.value;
            refreshBooks();
        }
    });
    const buttons = document.querySelectorAll('button[name="add_button"]');
    
    buttons.forEach((button) => {
    button.addEventListener("click", function() {
        var form = this.form
        var durasi_peminjaman = form.elements['durasi_peminjaman'].value;
        if (durasi_peminjaman === ""){
            return;
        }
        durasi_peminjaman = parseInt(durasi_peminjaman)
        if(durasi_peminjaman < 1 || durasi_peminjaman > 14) {
            return;
        }
        var isConfirmed = window.confirm("Apakah Anda yakin ingin meminjam buku ini?");
        if (!isConfirmed) {
            event.preventDefault();
        } else {
            alert("Terima kasih sudah meminjam buku di PageTurn!");
        }
    });
});
</script>

{% endblock content %}