{% extends "base.html" %}
{% load static %}
{% block meta %}
    <title>Peminjaman Buku</title>
    <link rel="stylesheet" href="{% static 'peminjaman.css' %}">
{% endblock meta %}

{% block content %}
{% include "header.html" %}
<div class="container" style="margin-top: 100px;">
    <h1 class="display-4 fw-bold text-center">Daftar Buku yang Dipinjam</h1>
    <h5 class="mt-2 mb-3 text-center">Berikut ini adalah buku yang sedang kamu pinjam, klik gambar buku untuk mengembalikannya</h5>
    
    <div class="container w-75">
        <form class="d-flex rounded border">
            <input class="form-control" type="text" placeholder="Search Books and Authors" aria-label="Search" id="search-book">
        </form>
    </div>
    <!-- <div class="row" id="item_card"> </div> -->
    <div class="row">
        <!-- Filter Buku -->
        <h4 class="card-title mb-3">Filter Buku</h4>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3">Genre</h5>
                    <form id="filterForm">
                        {% for genre in genres %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{{ genre }}" id="{{ genre }}" checked>
                            <label class="form-check-label" for="{{ genre }}">{{ genre }}</label>
                        </div>
                        {% endfor %}
                    </form>
                </div>
            </div>
            <div class="d-flex justify-content-start align-items-start mt-3">
                <a href="{% url 'peminjaman:add_peminjaman' %}" class="btn tes"><strong>Meminjam Buku</strong></a>
            </div>
            <div class="d-flex justify-content-start align-items-start mt-3">
                <a href="{% url 'peminjaman:show_history' %}" class="btn" style="background-color: aqua;"><strong>History Peminjaman</strong></a>
            </div>
        </div>
        <!-- Daftar Buku -->
        <div class="col-md-10">
            <div id="item-card" class="row row-cols-1 row-cols-md-4 g-4"></div>
        </div>
    </div>
</div>
{% for peminjaman in dipinjam %}
<div class="modal fade" id="pinjamModal{{ peminjaman.pk }}" tabindex="-1" aria-labelledby="pinjamModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="pinjamModal">{{ peminjaman.book.name }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <!-- Gambar Buku -->
                        <img src="{{ peminjaman.book.image }}" alt="{{ book.name }} Cover" style="width: 100%;">
                    </div>
                    <div class="col-md-7">
                        <!-- Detail Buku -->
                        <div style="line-height: 4;">
                            <span><strong>Dipinjam oleh: </strong>{{ user.username }}</span>
                            <br>
                            <span><strong>Dipinjam tanggal: </strong>{{ peminjaman.tgl_dipinjam }}</span>
                            <br>
                            <span><strong>Batas pengembalian: </strong>{{ peminjaman.tgl_batas }}</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" name="return_button" value={{peminjaman.pk}} data-bs-dismiss="modal">Kembalikan Buku</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<script>
    var konz = "";
    async function getItems() {
        return fetch("{% url 'peminjaman:get_item_json' %}").then((res) => res.json())
    }
    async function getBooks() {
        return fetch("{% url 'peminjaman:get_book_json' %}").then((res) => res.json())
    }
    async function refreshItems(){
        const checkedBoxes = document.querySelectorAll('#filterForm input[type="checkbox"]:checked');
        const checkedGenres = Array.from(checkedBoxes).map(checkbox => checkbox.value);
        const filterForm = document.getElementById('filterForm');
        document.getElementById("item-card").innerHTML = ""
        const items = await getItems();
        const books = await getBooks();
        let htmlString = ``
        items.forEach((item) => {
            const book = books.find(book => book.pk === item.fields.book);
            if(checkedGenres.includes(book.fields.genre) && (book.fields.name.toLowerCase().includes(konz.toLowerCase()) || book.fields.author.toLowerCase().includes(konz.toLowerCase()))){
                htmlString += `
                    <div class="card" style="width: 200px; height: 300px; padding: 10px; margin-left: 50px; margin-bottom: 25px">
                        <a data-bs-toggle="modal" data-bs-target="#pinjamModal${item.pk}">
                            <img src="${book.fields.image}" class="card-img-top" alt="${book.fields.name} Cover" style="object-fit: contain; width: 100%; height: 100%;">
                        </a>
                    </div>`
            }
        })
        document.getElementById("item-card").innerHTML = htmlString
    }
    refreshItems();
    const filterForm = document.getElementById('filterForm');
    filterForm.addEventListener('change', function() {
        refreshItems();
    });
    document.getElementById('search-book').addEventListener('keypress', function(event) {
        if (event.key === 'Enter') {
            event.preventDefault();  // Prevent form submission
            konz = this.value;
            console.log(this.value)
            refreshItems();
        }
    });
    async function returnBook(id) {
        const items = await getItems()
        const item = items.find(item => item.pk === parseInt(id));
        let date = new Date(item.fields.tgl_batas);
        let today = new Date();

        date.setHours(0, 0, 0, 0);
        today.setHours(0, 0, 0, 0);

        if (today <= date) {
            alert("Terima kasih sudah mengembalikan buku ini tepat waktu!")
        } else {
            alert("Lain kali jangan telat mengembalikan, ya!")
        }
        let url="{% url 'peminjaman:return_book' '0' %}";
        url = url.replace('0', id);
        fetch(url, {
            method: "POST",
        }).then(refreshItems);
        return false;
    }
    const buttons = document.querySelectorAll('button[name="return_button"]');

    buttons.forEach((button) => {
        button.addEventListener("click", function() {
            const isConfirmed = window.confirm("Ingin mengembalikan buku ini?");
            if (!isConfirmed) {
                event.preventDefault();
            }
            else { returnBook(this.value); }
        });
    });

</script>
{% endblock content %}






