{% extends 'base.html' %} 

{% block content %}
<h1>Book Request Form</h1>

<form method="POST">
    {% csrf_token %}
    <div>
        <h3>{{ form.title.label_tag }}</h3>
        {{ form.title }}
    </div>
    <div>
        <h3>{{ form.author.label_tag }}</h3>
        {{ form.author }}
    </div>
    <div>
        <h3>{{ form.description.label_tag }}</h3>
        {{ form.description }}
    </div>
    <div>
        <input type="submit" value="Send Request"/>
    </div>
</form>

<style>
    input[type="text"], textarea {
        width: 40%;
    }
</style>

{% endblock %}